/* scss/readme/_settings.scss */
/* scss/readme/_sidebars.scss */
/* scss/modules/_box.scss */
.box {
  background: #eee;
  padding: 20px;
  width: 300px;
  height: 150px; }

/* scss/jsExample/_clickme.scss */
.click {
  cursor: pointer;
  position: relative;
  left: 0;
  transition: left .25s;
  background: #000;
  padding: 20px 40px;
  display: inline-block; }

.clickAnimate {
  left: 80%; }

/* scss/jsExample/_NewComponent.scss */
/* scss/jsExample/_test2.scss */
/* scss/jsExample/_test3.scss */
/* scss/jsExample/_sdvsad.scss */
/* scss/jsExample/_advc.scss */
/* scss/jsExample/_adcdscs.scss */
/* scss/jsExample/_adcscd.scss */
/* scss/jsExample/_nader.scss */
/* scss/jsExample/_tarek.scss */
/* scss/jsExample/_cairo.scss */
